<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">{{title}}</div>
    <div class="list-group list-group-flush">
      <a routerLink="/departments" class="list-group-item list-group-item-action bg-light">Departments</a>
      <a routerLink="/employees" class="list-group-item list-group-item-action bg-light">Employees</a>
      <a routerLink="/tasks" class="list-group-item list-group-item-action bg-light">Tasks</a>
    </div>
  </div>

  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Menu</button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="container-fluid">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>