<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Due Date</th>
      <th>
        <!-- button for operating -->
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let task of tasks">
      <tr>
        <!-- > -->
        <th scope="row">{{task.id}}</th>
        <td>{{task.name||'???'}}</td>
        <td>{{formatTaskTime(task.due_date)}}</td>
        <td>
          <button type="button" class="mr-1 btn btn-outline-info btn-sm" (click)="task.show=!task.show">
            <i class="fa fa-angle-double-up" aria-hidden="true" *ngIf="task.show"></i>
            <i class="fa fa-angle-double-down" aria-hidden="true" *ngIf="!task.show"></i>
          </button>
          <button type="button" class="mr-1 btn btn-outline-primary btn-sm" [class.selected]="task===selectedTask" (click)="onSelect(task)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          
          <button type="button" class="mr-1 btn btn-outline-danger btn-sm" (click)="delete(task)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <ng-container *ngIf="task.show">
        <tr>
          <th></th>
          <th>Department</th>
          <th>Employee</th>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td>{{task.department_id||'???'}}</td>
          <td>
            {{task.employees||'???'}}
          </td>
          <td></td>
        </tr>
      </ng-container>
    </ng-container>
    <tr>
      <th colspan="3"></th>
      <td><button type="button" class="btn btn-info  btn-sm" (click)="add()"><i class="fa fa-plus"
            aria-hidden="true"></i></button></td>
    </tr>
  </tbody>
</table>

<app-task-detail [task]="selectedTask"></app-task-detail>