<div *ngIf='task'>
  <div class="editBox">
    <h2>{{task.name}} Details</h2>
    <div><span>id: </span>{{task.id}}</div>
    <div>
      <label>Name:
        <input [(ngModel)]="task.name" placeholder="name">
      </label>
    </div>
    <div>
      <label>Due Date:
        <input [(ngModel)]="task.due_date" placeholder="due date">
      </label>
    </div>



    <div>
      <label>Department:
        <select required [(ngModel)]="task.department_id" (change)="onChange(task.department_id)" >
          <option *ngFor="let dept of depts" [ngValue]="dept.id">{{ dept.name }}</option>
        </select>
      </label>
    </div>
    <div>
      <label>Employee:
        <div>
          <ng-container *ngFor="let emp of emps">
            <span class="m-3"><input type="checkbox" checked="{{ task.employees.includes(emp.id) ? 'checked':'' }}"
                (change)="updateAssignList(emp.id)" /><label>{{emp.id}}. {{emp.name}}</label></span>
          </ng-container>
        </div>
      </label>
    </div>



  </div>
  <button (click)="goBack()">go back</button>
</div>
